{% extends 'manager/home.html' %}

{% block content %}
<a href="{% url 'login' %}">Logout</a>
<h1>All Employees </h1>

    {% for employee in employees %}
          <div>
              <span> {{employee.empid}}</span>
              <small>{{employee.mobile}}</small>
              <small>{{employee.firstname}}</small>
              <small>{{employee.lastname}}</small>
              <small>{{employee.address}}</small>
              <small>{{employee.dob}}</small>
              <small>{{employee.city}}</small>
              <small>{{employee.company}}</small>
              <small><a href="{% url 'update' employee.empid %}">Update</a></small>
              <small><a href="{% url 'delete' employee.empid %}">Delete</a></small>
              <hr>
          </div>
    {% endfor %}

    <a href="{% url 'addemp' %}">Add Employee</a>
{% endblock %}